.text-row {
    margin: 1rem 0;
}

.b-radius {
    border-radius: 12px;
}

.bg-blue {
    background-color: darkblue !important;
}

div.skills {
    position: absolute;
    max-width: fit-content;
    bottom: .5rem;
    right: 1rem;
}

div.name {
    position: absolute;
    max-width: fit-content;
    bottom: 0;
    left: 300px;
    font-size: 4rem;
    font-weight: 500;
}

.intro-container {
    height: 50vh;
}

.img-container {
    position: relative;
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    bottom: 270px;
    left:20px;
    border: solid 4px white;
}

.intro-sub {
    position: relative;
}

.img-container > img {
    width: 250px;
    height: 250px;
    object-position: center;
    object-fit: cover;
    
}

.shdw {
    border: solid 1px #eeeeee;
    box-shadow: 1px 1px 5px -2px lightgrey;
    border-radius: 6px;
}

.intro-bg-image {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-image: url('images/net-developer-module.jpg');
  
}

body {
    background-color: #fefefe !important;
}

.name-shdw {
    text-shadow: 1px 1px 10px rgb(37, 48, 145);
}